<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mettre en Majuscule </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="film" placeholder="Film"></ion-input>
    </ion-item>

    <ion-button
      size="large"
      expand="block"
      color="success"
      (click)="onRecherche()"
    >
      <ion-icon name="search-circle-outline"></ion-icon>
    </ion-button>

    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-col size="6">
          <ion-title>Search</ion-title>
          <ion-card *ngFor="let item of films">
            <ion-img [src]="item.Poster"></ion-img>
            <ion-card-header>
              <ion-grid>
                <ion-row class="ion-justify-content-start">
                  <ion-col size="8">
                    <ion-card-subtitle> {{ item.Title }}</ion-card-subtitle>
                    <ion-card-title>{{ item.Year }}</ion-card-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button color="danger" (click)="onFavorite(item)">
                      <ion-icon name="heart"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-title>favori</ion-title>
          <ion-card *ngFor="let item of favorites">
            <ion-img [src]="item.Poster"></ion-img>
            <ion-card-header>
              <ion-grid>
                <ion-row class="ion-justify-content-start">
                  <ion-col size="8">
                    <ion-card-subtitle> {{ item.Title }}</ion-card-subtitle>
                    <ion-card-title>{{ item.Year }}</ion-card-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button color="danger" (click)="onFavorite(item)">
                      <ion-icon name="heart"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-list>
</ion-content>
